[submodule "SkillAPIModule"]
	url = https://github.com/GKGameStudio/Unity-SkillAPIModule.git
	path = Assets/Modules/Unity-SkillAPIModule
[submodule "Unity-HealthModule"]
	url = https://github.com/GKGameStudio/Unity-HealthModule.git
	path = Assets/Modules/Unity-HealthModule
[submodule "Unity-2DRagdollControlModule"]
	url = https://github.com/GKGameStudio/Unity-2DRagdollControlModule.git
	path = Assets/Modules/Unity-2DRagdollControlModule
